<body dir="rtl">
    <div id="header" style="text-align: center"></div>
    <div id="body">

<br/>           هم‌دوره‌ای و دوست عزیز
<br/>
<br/>سلام؛<
<b/>حساب کاربری شما در سامانه‌ی مربوط به جشن فارغ‌التحصیلی دوره ۹۳ ساخته شده و مشخصات آن به شرح زیر است:
<br/>Username: {{ username }}
<br/>Password: {{ password }}
<br/>لطفا هرچه سریع‌تر وارد سامانه شوید و عکس خود را در سامانه بارگزاری نمائید.
<br/>
<br/>این سامانه مکانی‌است برای گفتن ناگفته‌ها، خواندن نانوشته‌ها و برجای گذاشتن خاطره‌‌ای ماندگار از دوره ۹۳ کارشناسی دانشکده مهندسی کامپیوتر دانشگاه صنعتی شریف. سال‌های آینده به این وب‌سایت بازخواهیم گشت تا خاطرات خود را زنده کنیم. تا حرف‌های خود و دوستانمان را مرور کنیم. تا همدیگر را به یاد بیاوریم...
<br/>
<br/>منتظرتان هستیم :)
<a href="http://sutce93.ir/login">اینجا</a>
    </div>
</body>