{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="https://cdn.rtlcss.com/semantic-ui/2.2.6/semantic.rtl.css"
          integrity="sha384-h/tGiTStmgbDQyTAdp2s5BfyXn7wmnFsn3vDaCPYck9YKkOuLAdjHi6y154TBVJ4" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}"/>
</head>

<body>

<div id="menu" class="ui fixed inverted main menu">
    <div class="ui container">
        <a class="launch icon item" href="{% url 'home' %}">
            <i class="home icon"></i>
        </a>

        <div class="right menu">
          <div class="ui dropdown item">
          <i class="content icon"></i>
            <i class="dropdown icon"></i>
            <div class="menu">
                  <a class="item" href="{% url 'question' %}">
      رای دادن
    </a>
    <a class="item" href="{% url 'opinions' %}">
      نظر درباره‌ی دوران دانشجویی
    </a>
    <a class="item" href="{% url 'comments' %}">
      نظر به دوستان
    </a>
    <div class="divider"></div>
    <a class="item">
        {% if request.user.userprofile.profile_picture %}
        <img src="/static/media/{{ request.user.userprofile.profile_picture }}" class="ui mini rounded image">
        {% else %}
        <i class="smile outline icon"></i>
        {% endif %}
        ویرایش پروفایل
    </a>
            </div>
          </div>
        </div>
    </div>
</div>

<div id="mside" class="ui sidebar inverted vertical menu visible pushable">
    <a class="item">
        <h4 class="ui image">
            {% if request.user.userprofile.profile_picture %}
            <img src="/static/media/{{ request.user.userprofile.profile_picture }}" class="ui mini rounded image">
            {% else %}
            <i class="smile outline icon"></i>
            {% endif %}
            {{ request.user.userprofile.get_name }}
        </h4>
    </a>
    <a class="item" href="{% url 'question' %}">
      رای دادن
    </a>
    <a class="item" href="{% url 'opinions' %}">
      نظر درباره‌ی دوران دانشجویی
    </a>
    <a class="item" href="{% url 'comments' %}">
      نظر به دوستان
    </a>
</div>
<div class="pusher">
    {% block content %}{% endblock %}
</div>

<div id="mfooter" class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
            <div class="three wide column">
                <h4 class="ui inverted header">درباره</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">دوره ۹۳</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header"></h4>
                <p>اینجا دوره‌ی ۹۳ است.</p>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://cdn.rtlcss.com/semantic-ui/2.2.6/semantic.min.js"
        integrity="sha384-kZT+CItOKWHYL+Rz37W2NEz60Pu2JJJ8wgzq+82VWsi3QM53eNFzQJZqzhPuyo63"
        crossorigin="anonymous"></script>
<script>
    $(document).ready(function(){
        $('.ui.dropdown')
          .dropdown()
        ;
    });
</script>
{% block script %}{% endblock %}
</body>
</html>