{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="https://cdn.rtlcss.com/semantic-ui/2.2.6/semantic.rtl.css"
          integrity="sha384-h/tGiTStmgbDQyTAdp2s5BfyXn7wmnFsn3vDaCPYck9YKkOuLAdjHi6y154TBVJ4" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}"/>
    {% block style %}{% endblock %}
</head>

<body>

<div id="menu" class="ui large fixed inverted main menu {{ request.user.is_authenticated|yesno:'login,logout' }}">
    <div class="ui container">
        <a class="launch icon item" href="{% url 'home' %}">
            خانه
        </a>

        <div class="right menu">
            {% if request.user.is_authenticated %}
          <div class="ui dropdown item">
          <i class="content icon"></i>
            <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item" href="{% url 'question' %}">ترین‌ها</a>
                <a class="item" href="{% url 'opinions' %}">متن درباره‌ی دوران دانشجویی</a>
                <a class="item" href="{% url 'comments' %}">نظر به دوستان</a>
                <a class="item" href="{% url 'people' %}">هم‌ دوره‌ای‌ها</a>
                <a class="item" href="{% url 'logout' %}">خروج</a>
            <div class="divider"></div>
    <a class="item" href="{% url 'profile' %}">
        {% if request.user.userprofile.profile_picture %}
        <img src="/static/media/{{ request.user.userprofile.profile_picture }}" class="ui mini rounded image">
        {% else %}
        <i class="smile outline icon"></i>
        {% endif %}
        ویرایش پروفایل
    </a>
            </div>
          </div>
            {% else %}
            <div class="item">
                <a class="ui button inverted" href="{% url 'login' %}">ورود</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% if request.user.is_authenticated %}
<div id="mside" class="ui sidebar inverted vertical menu visible pushable">
    <a class="item" href="{% url 'profile' %}">
        <h4 class="ui image">
            {% if request.user.userprofile.profile_picture %}
            <img src="/static/media/{{ request.user.userprofile.profile_picture }}" class="ui mini rounded image">
            {% else %}
            <i class="smile outline icon"></i>
            {% endif %}
            {{ request.user.userprofile.get_name }}
        </h4>
    </a>
    <a class="item" href="{% url 'question' %}">ترین‌ها</a>
    <a class="item" href="{% url 'opinions' %}">متن درباره‌ی دوران دانشجویی</a>
    <a class="item" href="{% url 'comments' %}">نظر به دوستان</a>
    <a class="item" href="{% url 'people' %}">هم‌ دوره‌ای‌ها</a>
    <a class="item" href="{% url 'logout' %}">خروج</a>
</div>
{% endif %}
<div class="pusher {{ request.user.is_authenticated|yesno:'login,logout' }}">

    {% if messages %}
    <div class="ui two column stackable grid centered">
        <div class="column">
    {% for message in messages %}
    <div class="ui message {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}negative{% else %}success{% endif %}">
      <i class="close icon"></i>
      <div class="header">
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}خطا{% else %}پیام{% endif %}
      </div>
      <p>{{ message }}
    </p>
    </div>
    {% endfor %}
        </div>
    </div>
    {% endif %}
    {% block content %}{% endblock %}
</div>

{% include 'main/footer.html' %}

<script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://cdn.rtlcss.com/semantic-ui/2.2.6/semantic.min.js"
        integrity="sha384-kZT+CItOKWHYL+Rz37W2NEz60Pu2JJJ8wgzq+82VWsi3QM53eNFzQJZqzhPuyo63"
        crossorigin="anonymous"></script>
<script>
    $(document).ready(function(){
        $('.ui.dropdown')
          .dropdown()
        ;
        $('.message .close')
          .on('click', function() {
            $(this)
              .closest('.message')
              .transition('fade')
            ;
          })
        ;
    });
</script>
{% block script %}{% endblock %}
</body>
</html>