{% extends 'main/base.html' %}

{% block title %}نظردهی{% endblock %}
{% block content %}
    <div class="ui two column grid centered">
        <div class="column">
            <form method="post">
                {% csrf_token %}
                <label>به</label>
                <input type="hidden" name="comment_id" value="{{ comment.id }}" />
                <div class="ui fluid search selection dropdown">
                    <input type="hidden" name="candidate">
                    <i class="dropdown icon"></i>
                    <div class="default text">۹۳ای‌ها</div>
                    <div class="menu">
                        {% for candidate in candidates %}
                          <div class="item" data-value="{{ candidate.username }}">{{ candidate.get_name }}</div>
                        {% endfor %}
                    </div>
                </div>
                <div class="ui form">
                  <div class="field">
                    <label>نظر تو</label>
                    <textarea>{{ comment.text }}</textarea>
                  </div>
                </div>
                <input type="submit" value="بفرست"/>
                </form>
        </div>
    </div>
{% endblock %}

{% block script %}
<script>
    $( document ).ready(function () {
        $('.ui.dropdown').dropdown('set selected', '{{ comment.target.username }}');
    });
</script>
{% endblock %}
