{% extends 'main/base.html' %}
{% block title %}
تماس با ما
{% endblock %}

{% block content %}

    <div class="ui container">
      <h1>تماس‌ با ما</h1>
        <p>اگه به هر مشکلی برخوردید با یکی از سه نفر زیر صحبت کنید</p>
      <div class="ui center aligned stackable grid">
          <div class="ui three column row">
              <div class="column">
<div class="ui card">
  <div class="image">
    <img src="/images/avatar2/large/kristy.png">
  </div>
  <div class="content">
    <a class="header">سینا حاجیمیری</a>
    <div class="description">
      سینا حاجیمیری از پسرای گل دوره
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="telegram plane icon"></i>
        تلگرام
    </a>
  </div>
</div>
              </div>
              <div class="column">
<div class="ui card">
  <div class="image">
    <img src="/images/avatar2/large/kristy.png">
  </div>
  <div class="content">
    <a class="header">محمد صادق تقی دیزج</a>
    <div class="description">
      صادق که دیگه گفتن نداره
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="telegram plane icon"></i>
        تلگرام
    </a>
  </div>
</div>
              </div>
              <div class="column">
<div class="ui card">
  <div class="image">
    <img src="/images/avatar2/large/kristy.png">
  </div>
  <div class="content">
    <a class="header">عرفان لقمانی</a>
    <div class="description">
      خودمم که دیگه نمی‌تونم اصا چیزی بگم
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="telegram plane icon"></i>
        تلگرام
    </a>
  </div>
</div>
              </div>
          </div>
      </div>
    </div>
{% endblock %}
{% block script %}
    <script>

    </script>
{% endblock %}