{% extends 'main/base.html' %}
{% block title %}
تماس با ما
{% endblock %}

{% block content %}
<div class="ui container">
    <h1>تماس‌ با ما</h1>
    <p>اگه به هر مشکلی برخوردید با یکی از چهار نفر زیر صحبت کنید.</p>
        <div class="ui four doubling cards">
                <div class="ui card fluid">
                    <div class="image">
                        <img src="/static/media/sina.jpg">
                    </div>
                    <div class="content">
                        <a class="header">سینا حاجی میری</a>
                    </div>
                    <div class="extra content">
                        <a href="https://t.me/sinahmr" target="_blank">
                            تلگرام
                        </a>
                    </div>
                </div>
                <div class="ui card fluid">
                    <div class="image">
                        <img src="/static/media/mohammad.jpg">
                    </div>
                    <div class="content">
                        <a class="header">محمد صادق تقی دیزج</a>
                    </div>
                    <div class="extra content">
                        <a href="https://t.me/MohammadSadeghTD" target="_blank">
                            تلگرام
                        </a>
                    </div>
                </div>
                <div class="ui card fluid">
                    <div class="image">
                        <img src="/static/media/mohammad-mahdi.jpg">
                    </div>
                    <div class="content">
                        <a class="header">محمدمهدی فاریابی</a>
                    </div>
                    <div class="extra content">
                        <a href="https://t.me/faryabimm" target="_blank">
                            تلگرام
                        </a>
                    </div>
                </div>
                <div class="ui card fluid">
                    <div class="image">
                        <img src="/static/media/erfan.jpg">
                    </div>
                    <div class="content">
                        <a class="header">عرفان لقمانی</a>
                    </div>
                    <div class="extra content">
                        <a href="https://t.me/E_L_K" target="_blank">
                            تلگرام
                        </a>
                    </div>
                </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>

</script>
{% endblock %}