{% extends 'main/base.html' %}
{% block title %}ورود{% endblock %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/login.css' %}"/>
{% endblock %}

{% block content %}

<div class="ui middle aligned center aligned stackable grid">
  <div class="column">
    <h2 class="ui teal header">
      <div class="content">{{ request.user.is_authenticated|yesno:'وارد شده اید!,وارد صفحه خود شوید!'}}
      </div>
    </h2>
    <div class="ui icon button primary" data-content="نام کاربری و گذرواژه به رایانامه‌ی ce ایت باید اومده باشه، اگه هر مشکلی بود یا ایمیل ce نداری از راهایی که تو تماس‌باما گفتیم بهمون بگو." data-position="bottom left">
        <i class="question outline icon"></i>
    </div>
    {% if not request.user.is_authenticated %}
    <form class="ui large form" action="{{ request.get_full_path }}" method="post">
    {% csrf_token %}
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="username" placeholder="نام کاربری">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="گذرواژه">
          </div>
        </div>
        <input class="ui fluid large teal submit button" type="submit" value="ورود">
      </div>

      <div class="ui error message"></div>

    </form>

    <div class="ui message">
      <a href="#">رمز عبور را فراموش کرده‌ام</a>
    </div>
    {% endif %}
  </div>
</div>

{% endblock %}


{% block script %}
<script>
  $(document).ready(function(){
    $('.icon.button')
      .popup()
    ;
  });
</script>
{% endblock %}