{% extends 'main/base.html' %}
{% block title %}
{{ request.user.is_authenticated|yesno:'هم‌دوره‌ای‌ها,دانشجویان ورودی ۹۳ دانشکده مهندسی کامپیوتر دانشگاه صنعتی شریف'}}
{% endblock %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/people.css' %}"/>
{% endblock %}

{% block content %}
    <div class="ui center aligned stackable grid">
      <div class="container">
          <h1>{{ request.user.is_authenticated|yesno:'هم‌دوره‌ای‌ها,دانشجویان ورودی ۹۳ دانشکده مهندسی کامپیوتر دانشگاه صنعتی شریف'}}</h1>
        <div class="ui six doubling cards">
            {% for p in people %}
                <div class="card">
                    <div class="image">
                        {% if p.profile_picture %}
                        <img src="/media/{{ p.profile_picture }}">
                        {% else %}
                        <img src="/media/default-profile-picture.jpg">
                        {% endif %}
                    </div>
                    <div class="content">
                        <div class="author">
                            <h4>{{ p.get_name }}</h4>
                        </div>
                    </div>
                    {% if request.user.is_authenticated %}
                    <div class="extra content">
                        {% if request.user != p.user %}
                        <a href="{% url 'comment' %}?to={{ p.user.username }}">
                          <i class="pencil alternate icon"></i>
                            ارسال نظر
                        </a>
                        {% else %}
                        <a href="{% url 'opinion' %}">
                          <i class="pencil alternate icon"></i>
                            ثبت متن
                        </a>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
      </div>
    </div>
{% endblock %}
{% block script %}
    <script>

    </script>
{% endblock %}