{% extends 'main/base.html' %}
{% block title %}پروفایل{% endblock %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/profile.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/cropper/cropper.min.css' %}"/>
<style>

</style>
{% endblock %}

{% block content %}

<div class="ui middle aligned center aligned three column stackable grid">
  <div class="column">
    <form class="ui large form" action="/profile/set" method="post" enctype="multipart/form-data">
    {% csrf_token %}
        <input type="hidden" id="crop-info" name="crop" >
        <div class="fields ui middle aligned grid">
            <div class="ui row">
            <div class="four wide column field">
                <label class="four wide column centered">عکس پروفایل</label>
                <input type="file" id="file" name="profile-photo" >
            </div>
                <div class="twelve wide column field">
                    <div class="ui special cards">
              <div class="ui card fluid">
                <div class="blurring dimmable image">
                    <div class="ui dimmer">
                        <div class="content">
                            <div class="center">
                                <div class="ui inverted button" id="setprofilephoto">بارگذاری عکس پروفایل</div>
                            </div>
                        </div>
                    </div>
                    {% if request.user.userprofile.profile_picture %}
                    <img id="profileimg" class="medium ui image" src="/static/media/{{ request.user.userprofile.profile_picture }}">
                    {% else %}
                    <img id="profileimg" class="medium ui image" src="/static/media/default-profile-picture.jpg">
                    {% endif %}
                </div>
                  </div>
              </div>
                </div>
            </div>
        </div>
        <div class="fields ui middle aligned grid">
            <div class="ui row inline field">
                <label class="four wide column centered">نام</label>
                <input class="twelve wide column" type="text" name="first-name" placeholder="نام" value="{{ firstname }}">
            </div>
        </div>
        <div class="fields ui middle aligned grid">
            <div class="ui row inline field">
                <label class="four wide column centered">نام خانوادگی</label>
                <input class="twelve wide column" type="text" name="last-name" placeholder="نام خانوادگی" value="{{ lastname }}">
            </div>
        </div>
        <input class="ui fluid large teal submit button" type="submit" value="ثبت">
    </form>
  </div>
</div>
<div class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    برش عکس
  </div>
  <div class="content">
    <div class="description">
      <div class="ui header">یه بخش مربعی از عکس انتخاب کن</div>
        <img id="modalimg" src="{% static 'media/default-male.png' %}" />
    </div>

  </div>
  <div class="actions">
    <div class="ui black deny button">
      بیخیال!
    </div>
    <div class="ui positive right labeled icon button">
      خوب شد!
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>
{% endblock %}


{% block script %}
    <script src="{% static 'main/cropper/cropper.min.js' %}"></script>
    <script>
        $(document).ready(function(){
        $('.special.cards .image').dimmer({
            on: 'hover'
        });
        $("#setprofilephoto").on("click", function() {
            $("input#file").trigger("click");
        });
        $("#file").change(function(e) {
            if (this.files && this.files[0]) {
                var reader = new FileReader();

                reader.onload = function (n) {

                    $('#modalimg')
                        .attr('src', n.target.result);
                    $('.ui.modal')
                      .modal('show')
                    ;
                    var image = document.getElementById('modalimg');
                    var cropper = new Cropper(image, {
                      aspectRatio: 1 / 1,
                      viewMode: 1,
                      crop: function(event) {
                      $('#crop-info').val(event.detail.x + ',' + event.detail.y + ',' + event.detail.width
                                                                + ',' + event.detail.height
                      );
                      }
                    });

                    /*
                    $('#profileimg')
                        .attr('src', n.target.result);
                    */
                };

                reader.readAsDataURL(this.files[0]);
            }
        });
        $('.positive.button').click(function(){
            $('.form').submit();
        });
        $('.deny.button').click(function(){
            $('#file').val('');
            $('#crop-info').val('');
        });
        });
    </script>
{% endblock %}