{% extends 'main/base.html' %}

{% block title %}ترین‌ها{% endblock %}
{% block content %}
    <div>
        <div>{{ question.title }}</div>
        <div>{{ question.description }}</div>
    </div>
    <form method="post">
        <div class="ui fluid search selection dropdown">
          <input type="hidden" name="vote">
          <i class="dropdown icon"></i>
          <div class="default text">۹۳ای‌ها</div>
          <div class="menu">
              {% for candidate in candidates %}
                  <div class="item" data-value="{{ candidate.username }}">{{ candidate.get_name }}</div>
              {% endfor %}
          </div>
        </div>
    </form>
{% endblock %}

{% block script %}
<script>
    $( document ).ready(function () {
        $('.ui.dropdown').dropdown();
    });
</script>
{% endblock %}