{% extends 'main/base.html' %}
{% load my_tags %}

{% block title %}ترین‌ها{% endblock %}
{% block content %}
    <div class="ui two column grid centered">
        <div class="column">

            <div class="ui indicating progress" id="q-progress"
                 data-percent="{{ voted_count|percent:remaining_count}}"
                 data-value="{{ voted_count }}"
                 data-total="{{ voted_count|add:remaining_count }}"
            >
                <div class="bar">
                    <div class="progress"></div>
                </div>
                <div class="label">سوال از</div>
            </div>
            {% if not question %}
                <div>تموم شد :دی</div>
            {% else %}
                <div>
                    <div>{{ question.text }}</div>
                </div>
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="question_id" value="{{ question.id }}" />
                    <div class="ui fluid search selection dropdown">
                      <input type="hidden" name="candidate">
                      <i class="dropdown icon"></i>
                      <div class="default text">۹۳ای‌ها</div>
                      <div class="menu">
                          {% for candidate in candidates %}
                              <div class="item" data-value="{{ candidate.user.username }}">{{ candidate.get_name }}</div>
                          {% endfor %}
                      </div>
                    </div>
                    <input type="submit" value="بعدی"/>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block script %}
<script>
    $( document ).ready(function () {
        $('.ui.dropdown').dropdown();
        $('#q-progress').progress({
            text: {
                active: 'سوال {value} از {total}',
                success: 'خسته نباشی!'
            }
        });
    });
</script>
{% endblock %}