{% extends 'main/base.html' %}
{% load static %}

{% block title %}شرکت در ترین های جدید{% endblock %}
{% block content %}
    <div class="ui grid centered">
        <div class="twelve wide column">
            <h1>
                <span>ترین های جدید</span>
                <div class="ui icon button"
                     data-content="اینجا می تونی در ترین های جدید شرکت کنی، به ترین های جدید فقط کسانی که شرکت کرده باشن می تونن رای بدن و فقط کسانی که شرکت کرده‌اند می تونن انتخاب بشن"
                     data-position="bottom left">
                    <i class="question outline icon"></i>
                </div>
            </h1>
            <br/>
            <div class="ui warning message">
              <i class="close icon"></i>
              <div class="header">
               برای ثبت تغییرات حتما روی دکمه "ثبت" واقع در انتهای صفحه کلیک کنید.
              </div>
            </div>
            <div class="ui">
                <form method="post" class="ui form divided items">
                    {% csrf_token %}

                    <div class="item">
                        <div class="middle aligned content">
                            <span>شرکت در همه‌ی ترین ها:</span>
                        </div>
                        <div>
                            <div class="ui toggle checkbox">
                                <input type="checkbox" name="all">
                              <label></label>
                            </div>
                        </div>
                    </div>
                    <div class="item"></div>

                    {% for the_most in the_mosts %}
                        <div class="item">
                        <div class="middle aligned content">
                            <span>{{ the_most.text }}: </span>
                        </div>
                            <div>
                                <div class="ui toggle checkbox">
                                    {% if the_most.value %}
                                        <input type="checkbox" name="{{ the_most.name }}" checked class="TheMost">
                                    {% else %}
                                        <input type="checkbox" name="{{ the_most.name }}" class="TheMost">
                                    {% endif %}
                                  <label></label>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                   <input class="ui button right floated" type="submit" value="ثبت"/>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        $(document).ready(function () {
            $('.icon.button')
                .popup()
            ;
        });

        $('input[name="all"]').change(function () {
            if($(this).is(":checked")){
                $('input.TheMost').prop('checked', true);
            }
        });

        $('input.TheMost').change(function () {
            if($(this).is(":checked")){
            }
            else{
                $('input[name="all"]').prop('checked', false);
            }
        });
    </script>
{% endblock %}
