{% extends 'main/base.html' %}

{% block title %}
{% if type == 'comment' %}
                ارسال نظر
{% else %}
    ثبت متن
{% endif %}
{% endblock %}
{% block content %}
    <div class="ui two column stackable grid centered">
        <div class="column">
            <h1>
            {% if type == 'comment' %}
                ارسال نظر
            {% else %}
                ثبت متن
            {% endif %}
            </h1>
            <form method="post" class="ui form">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ item.id }}" />
                {% if type == 'comment' %}
                <div class="required field">
                    <label>به</label>
                    <div class="ui fluid search selection dropdown">
                        <input type="hidden" name="candidate" required>
                        <i class="dropdown icon"></i>
                        <div class="default text">۹۳ای‌ها</div>
                        <div class="menu">
                            {% for candidate in candidates %}
                              <div class="item" data-value="{{ candidate.user.username }}">
                                  <h4 class="ui image header">
                                    {% if candidate.profile_picture %}
                                    <img src="/media/{{ candidate.profile_picture }}" class="ui mini rounded image">
                                    {% else %}
                                    <i class="smile outline icon"></i>
                                    {% endif %}
                                    {{ candidate.get_name }}
                                  </h4>
                              </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="required field">
                    <label>موضوع</label>
                    <div><input type="text" name="subject" value="{{ item.subject }}" required></div>
                </div>
                {% endif %}
                <div class="required field">
                    <label>نظر من</label>
                    <textarea name="text">{{ item.text }}</textarea>
                </div>
                <input class="ui button" type="submit" value="بفرست"/>
            </form>
        </div>
    </div>
{% endblock %}

{% block script %}
<script>
    $( document ).ready(function () {
        $('.ui.dropdown').dropdown('set selected', '{{ item.target.user.username }}');
        $('.ui.form')
          .form({
            fields: {
              {% if type == 'comment' %}
              candidate: 'empty',
              {% else %}
              subject  : 'empty',
              {% endif %}
              text     : 'empty',
            }
          })
        ;
    });
</script>
{% endblock %}
